---
import LogoMonument from './LogoMonument.astro';
---

<section class="hero">
  <div class="hero__bg">
    <!-- Video will be added later. For now, solid dark background -->
  </div>
  <div class="hero__overlay"></div>
  <div class="hero__content">
    <div class="hero__logo">
      <LogoMonument variant="dark" />
    </div>
  </div>
  <div class="hero__scroll-indicator">
    <div class="hero__scroll-line"></div>
  </div>
</section>
